.wrapper {
    max-height: min((100vh - 96px) - 60px, 734px);
    width: 100%;
    min-height: 100px;
    list-style: none;
    padding: 8px 0;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    border-radius: 8px;
    margin-left: 0;

    overflow: hidden auto;

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(22, 24, 35, 0.09);
    }
}
