@import 'normalize.css';

:root {
    --primary-color: #fe2c55;
    --black-color: #000;
    --whilte-color: #fff;
    ---text-color: #161823;
    --font-family: 'ProximaNova', sans-serif;

    /* Default Layout*/
    --default-layout-width: 1150px;
    --default-layout-header-height: 60px;
    --default-layout-header-horizontal-padding: 24px;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: var(--font-family);
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
* {
    box-sizing: border-box;
}
button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}
// Emmbedded Fonts
@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'SofiaPro';
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: 'SofiaPro';
    src: url('/assets/fonts/sofiapro-semibold.otf');
    font-weight: 600;
}

/* Tippy */
body .tippy-box {
    width: 88px;
    height: 38px;
    display: flex;
    background-color: rgba(84, 84, 84, 0.92);
    // text-align: center;
}
.tippy-content {
    margin: auto;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
}
.tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow {
    top: -1px;
}
