:root {
    --account-text: rgba(22, 24, 35, 0.75);
}
.accounts {
    padding: 16px 0;
    border-top: 0.5px solid rgba(22, 24, 35, 0.06);
    // max-width: 224px;
    width: 224px;
    line-height: initial;
}
.label {
    margin: 0 0 8px 0;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--account-text);
}
// Account Item
.suggested-account {
    margin-left: -8px;
    padding: 8px;
    & > img {
        width: 37px;
        height: 37px;
        border: 2px solid transparent;
        padding: 1.5px;
    }
    &:hover {
        border-radius: 4px;
    }
}
.suggsted-info {
    width: 100%;
    margin-bottom: 0;
    & > h4 {
        span {
            width: 145px;
            display: inline-block;
            color: rgb(22, 24, 35);
            font-weight: 700;
            font-size: 1.6rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            line-height: initial;
            margin-top: -2px;
        }
    }
    span {
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--account-text);
    }
}
