.wrapper {
    --search-border-radius: 92px;
    --search-icon-default: rgba(22, 24, 35, 0.34);
    --search-height: 46px;
    --search-top-space: 9px;
    --search-btn-width: 48px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-header-horizontal-padding);
    // box-sizing: border-box;
}
.search,
.search-box {
    width: 361px;
    // padding-top: 8px;
}
.search {
    position: relative;
    background-color: #f1f1f2;
    height: var(--search-height);
    display: flex;
    align-items: center;
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    overflow: hidden;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black-color);
        background-color: #f1f1f2;
        caret-color: var(--primary-color);
    }
    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-space);
        right: var(--search-btn-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-space) * 2);
        background-color: #d7d7d9;
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.34);
    }
}
.search__clear-btn,
.search__loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}
.search__search-btn {
    padding-left: 2px;
    font-size: 2rem;
    height: 100%;
    width: var(--search-btn-width);
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    color: var(--search-icon-default);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
/* Check empty input */
input:not(:placeholder-shown) ~ .search__search-btn {
    color: rgba(22, 24, 35, 0.75);
}
.search-title {
    margin: 0;
    padding: 5px 12px;
    cursor: default;
    user-select: none;
}
.search-more-result {
    padding: 12px;
    color: #161823;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    &:hover {
        background-color: #f1f1f2;
    }
}
/* Actions */
.actions {
    display: flex;
}
.more-menu-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    transform: translateY(calc(100% / 6 - 6px));
    padding: 5px 0;
    width: 20px;
    font-size: 2rem;
}
