.item {
    display: flex;
    align-items: center;
    padding: 8px;
    color: rgba(22, 24, 35, 1);
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
    &.active {
        color: var(--primary-color);
        .icon {
            display: none;
        }
        .active-icon {
            display: flex;
        }
    }
}
.title {
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-left: 8px;
}
.active-icon,
.icon {
    display: flex;
}
.active-icon {
    display: none;
}
